<h1><%= @map.name %></h1>

<% @entities.each do |entity| %>
	<hr/>
	<% form_for [@map, entity] do |f| %>
		Name: <%= f.text_field :name %><br/>
		Speed (squares): <%= f.text_field :speed %><br/>
		Size (squares): <%= f.text_field :size %><br/>
		Image: <%= image_tag entity.image_filename %> <link_to "Change", 'http://change_image'><br/>
		<%= link_to "Delete", url_for([@map, entity]), :method => :post %><br/>
	<% end %>
<% end %>